{% extends 'main_base.html' %}

<!-- Content -->
{% block content %}
	<div class="container">
        <a class="btn btn-info btn-sm" slyle href="/threads" title="read summary">
                            <img src="../static/img/arrow3.png" width="20"></a>
		<div class="header"><h3>Summary</h3></div>
        <div class="well">
        {% for sentence in summary['summary'] %}
            <p style="font-size:14px; overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;">
                {{ sentence }}
            </p>
        {% endfor %}
        </div>
        <!-- include an if statement here -->
        <script type="text/javascript">responsiveVoice.speak("Hello world");</script>
	</div>
{% endblock %}