{% extends 'main_base.html' %}

<!-- Content Block -->
{% block page_title %} YAIA (Yet Another Intelligent Assistant) {% endblock %}

<!-- Content -->
{% block content %}
	<div id="sl">
        {% for thread in threads %}
        <div class="well">
            <h4>{{ threads[thread]['subject'] }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div>from: <b>{{ threads[thread]['from'] }}</b></div>
                </div>
                <div class="col-md-4">
                    <div>Received: <b>{{ threads[thread]['date'] }}</b></div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <a class="btn btn-info btn-large" href="/threads/{{thread}}" title="listen summary">
                            🔊 Play</a>
                        <a class="btn btn-info btn-large" href="/threads/{{thread}}" title="read summary">
                            <img src="../static/img/reading.png" width="20"></a>

                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <li><em>Nothing to summarize</em>
        {% endfor %}
    </div>
{% endblock %}

